body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.2 !important;
}

.modal-dialog{
  display: flex !important;
  justify-content: center !important;
}

.modal-content{
  width:50% !important;
  box-shadow: 0 15px 20px -20px black !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 20px;
}